{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container"> <br><br>
   <center>
      <h1>Welcome On Railway Registration Portal!</h1><br>
   </center>
   <div class="row">
      <div class="col-md-12">
         <center>
            {% if session['user'] %}
            <a class="btn btn-primary" href="/book-ticket">Book Ticket</a>
            {% else %}
            <a class="btn btn-primary" href="/login">Login</a>
            <a class="btn btn-primary" href="/register">Register</a>
            {% endif %}

         </center>
      </div>
   </div>
</div>
{% endblock %}