{% extends "base.html" %}

{% block title %}
Train detail
{% endblock %}

{% block content %}

<div class="container"> <br><br>
     <center>
        <h1>Select Seats!</h1><br>
     </center>
     <div class="row">
         <div class="col-md-12">
             <div class="row">  
                 <div class="col-md-4">
                    From {{start}}
                 </div>
                 <div class="col-md-4">
                    To {{end}}
                </div>
                <div class="col-md-4">
                    Date {{date}}
                 </div>

             </div>
             <br>
         </div>
         
        <div class="col-md-6 mx-auto">
            {% if err %}
            <div class="alert alert-danger" role="alert">
                {{ err }}
            </div>
            {% else %}
            {% endif %}
            <form method="GET" action="/book-ticket"> 
                <input name="trainid" type="hidden" value="{{request.args['trainid']}}">
                <input name="date" type="hidden" value="{{request.args['date']}}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Seat Type</label>
                    <select id="seat-type" name="seat-type">
                        <option value="AC">AC</option>
                        <option value="Non-AC">Non-AC</option>
                      </select>
                    
                </div>
                <div class="form-group">
                    <label for="exampleInput1">No of Seats</label>
                    <input type="number" class="form-control" id="exampleInput1" aria-describedby="emailHelp"
                        placeholder="Enter No of Seats" name="No of Seats">
                    
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
     </div>
</div>
{% endblock %}